<!DOCTYPE html>
<html>
    <head>
    <title>Tabs</title>
    </head>
    <body>
	    <div class="container-fluid">
	    	<img src="https://cdn0.iconfinder.com/data/icons/computer-web/512/1-512.png">
	    	<p id="slogan">Connect with your friends and keep track of who owes who.</p>
	     </div>
    </body>
</html>