// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$tabs-green: #32CD32;
body {
    text-align: center;
    background-color: $tabs-green;
    background-size: cover;
    background-attachment: fixed;
}
img {
	height:300px;
	width: 300px;
	margin-top: 10px;
}
#slogan {
    font-size: 24px;
    color: white;
    font-family: Helvetica;
}
